In [1]:
!pip install pandas -U

Requirement already up-to-date: pandas in /Users/taj/anaconda3/lib/python3.6/site-packages
Requirement already up-to-date: python-dateutil>=2 in /Users/taj/anaconda3/lib/python3.6/site-packages (from pandas)
Requirement already up-to-date: pytz>=2011k in /Users/taj/anaconda3/lib/python3.6/site-packages (from pandas)
Requirement already up-to-date: numpy>=1.9.0 in /Users/taj/anaconda3/lib/python3.6/site-packages (from pandas)
Requirement already up-to-date: six>=1.5 in /Users/taj/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2->pandas)

In [2]:
import pandas as pd
import datetime
import datetime
import re
import lxml
from bs4 import BeautifulSoup
import json
from calendar import monthrange
import numpy as np

In [3]:
print(pd.__version__)

0.22.0

In [4]:
#date_str = datetime.datetime.now().strftime("%Y-%m-%d")
date_str = '2018-03-02'

js = pd.read_json('/Users/taj/GitHub/scraping/chrome_stayz_calendar/WebData/stayz_calendar_' + date_str + '.json.zip'
                 ,compression='zip')

js.reset_index(drop=True)
js.set_index('property_id')

# Change values of -1.0 into NaN for stats analysis
#js.loc[js['review_count'] == -1.0, 'review_count'] = np.nan
#js.loc[js['review_value'] == -1.0, 'review_value'] = np.nan

,calendar,ext_at,review_count,review_value
property_id,,,,
9064241,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:27,192,4.9
9123057,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:30,29,3.8
9117434,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:32,98,-1.0
9188751,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:34,23,5.0
9016485,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:36,30,5.0
9006125,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:38,8,4.5
9195589,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:39,5,4.8
9132090,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:42,36,4.9
9204526,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:43,10,5.0
9185654,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:45,21,4.8
9218352,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:49,-1,-1.0
9162472,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:51,13,4.6
9056570,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:54,35,5.0
9179007,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:55,13,5.0
9094119,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:27:58,70,-1.0
9120890,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:00,44,5.0
9082905,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:02,21,5.0
9190510,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:04,33,4.9
9132136,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:06,14,4.8
9194054,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:08,35,4.9
9142943,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:10,18,5.0
9026665,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:12,15,4.9
9208820,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:14,19,4.8
9151070,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:15,15,4.9
9053613,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:17,58,4.8
9123458,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:19,71,4.9
9210965,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:20,7,5.0
9178168,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:22,23,5.0
9060810,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:25,94,4.7
9192373,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:28:27,13,5.0
...,...,...,...,...
9217379,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:04,-1,-1.0
9219034,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:07,-1,-1.0
9187404,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:09,7,4.9
9017184,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:11,31,4.7
9141832,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:14,11,5.0
9213328,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:17,-1,-1.0
9102585,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:18,2,5.0
9013560,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:20,6,5.0
9222107,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:21,1,4.0
9001496,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:23,8,5.0
9205175,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:25,1,5.0
9223683,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:27,-1,-1.0
9217584,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:30,-1,-1.0
9192089,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:33,-1,-1.0
9173337,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:37,-1,-1.0
9033498,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:39,9,4.6
9032914,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:41,27,-1.0
9133757,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:42,1,4.0
9165123,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:44,8,5.0
9176205,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:46,6,4.8
9071888,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:48,5,5.0
9199319,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:51,-1,-1.0
9203426,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:53,1,5.0
9107898,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:54,5,-1.0
9203981,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:57,-1,-1.0
9207224,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:50:59,3,5.0
9185834,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:51:01,2,5.0
9192962,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:51:04,-1,-1.0
9210101,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:51:07,-1,-1.0
9207903,"<thead><tr><th scope=""col""><span title=""Monday...",2018-03-02 22:51:10,-1,-1.0

In [5]:
print(js.head())

                                            calendar              ext_at  \
0  <thead><tr><th scope="col"><span title="Monday... 2018-03-02 22:27:27
1  <thead><tr><th scope="col"><span title="Monday... 2018-03-02 22:27:30
2  <thead><tr><th scope="col"><span title="Monday... 2018-03-02 22:27:32
3  <thead><tr><th scope="col"><span title="Monday... 2018-03-02 22:27:34
4  <thead><tr><th scope="col"><span title="Monday... 2018-03-02 22:27:36

   property_id  review_count  review_value
0      9064241           192           4.9
1      9123057            29           3.8
2      9117434            98          -1.0
3      9188751            23           5.0
4      9016485            30           5.0

In [6]:
d = datetime.date.today()
mr = monthrange(d.year, d.month )

cur_month = d.month
cur_year = d.year


first_page = True



fp = open('/Users/taj/GitHub/scraping/chrome_stayz_calendar/WebData/stayz_processed_calendar_' + date_str + '.json', 'w')


for index, row in js.iterrows():   
    
    all_months = {}
    
    cur_month = d.month

    raw_cal = "<html><body><table>" + row['calendar'] + "</table></body></html>"
    
    
    soup = BeautifulSoup(raw_cal,'lxml') # Parse the HTML as a string
    soup_tables = soup.findAll('tbody')# Grab the first table
    
    
    month_tb_count = 1

    for month_tb in soup_tables:
 
        cells = month_tb.findAll("td")
        
        for td in cells:
            try:
                day_val = int(td.text)

                date_full = datetime.date(cur_year,cur_month,day_val)

                m1 = None
                m2 = None
                m3 = None
                m4 = None

                #----------------------------------------------------------
                # Check if DEP and ARR can both be on the same day
                # for consecutive bookings?

                # If its an unavailable date then mark: 
                m1 = re.search('c-calendar--unavailable', str(td))

                if m1 is not None:
                    all_months[str(date_full)] = 'UVL' # Unavailable day

                # If its an unavailable date then mark: 
                m2 = re.search('c-calendar--arrival-day', str(td))

                if m2 is not None:
                    all_months[str(date_full)] = 'ARR' # Arrival day

                # If its an unavailable date then mark: 
                m3 = re.search('c-calendar--departure-day', str(td))

                if m3 is not None:
                    all_months[str(date_full)] = 'DEP' # Departure day

                m4 = re.search('c-calendar--available', str(td))
                if m4 is not None:
                    all_months[str(date_full)] = 'AVL' # Available day


            except ValueError:
                day_val = None

        # Move to the next month
        cur_month += 1
        month_tb_count += 1

    
    cal_details = {}
    cal_details['property_id'] = row['property_id']
    cal_details['calendar'] = all_months
    
    if first_page is True:
        fp.write('[\n')
        first_page = False
    else:
        fp.write('\n,')
        
    # Write the data to JSON
    json.dump(cal_details, fp)


    
# Close out the JSON format
fp.write('\n]')    

# Tidy up
fp.close()

In [7]:
# Open the Processed Calendar file
p = pd.read_json('/Users/taj/GitHub/scraping/chrome_stayz_calendar/WebData/stayz_processed_calendar_' + date_str + '.json')
p.head()

                                            calendar  property_id
0  {'2018-03-01': 'AVL', '2018-03-02': 'ARR', '20...      9064241
1  {'2018-03-01': 'UVL', '2018-03-02': 'DEP', '20...      9123057
2  {'2018-03-01': 'ARR', '2018-03-02': 'UVL', '20...      9117434
3  {'2018-03-01': 'UVL', '2018-03-02': 'UVL', '20...      9188751
4  {'2018-03-01': 'AVL', '2018-03-02': 'AVL', '20...      9016485

In [8]:
# Open the file for writing out the bookings details:
fp = open('/Users/taj/GitHub/scraping/chrome_stayz_calendar/WebData/stayz_bookings_' + date_str + '.json', 'w')

first_page = True

# Iterate over each entry in the Processed Calendar file:
for index, row in p.iterrows():  
    
    c = row['calendar']
    #print(c)
    
    pid = row['property_id']
    
    
    #c2 = c.to_dict()[0]
    #type(c2)


    days_count = 0
    avl_count = 0
    dep_count = 0
    arr_count = 0
    uvl_count = 0

    booking_count = 0


    dates = list(c.keys())

    min_dateIndex = 0
    max_dateIndex = len(dates)

    #print("Number of days: " + str(max_dateIndex))
    
    while (min_dateIndex < max_dateIndex):


        date = dates[min_dateIndex]
        status = c[date]


        # Count the total number of days
        days_count += 1

        if( status == 'AVL'):
            avl_count += 1

        if( status == 'ARR'):
            arr_count += 1
            # Iterate while the days are Unavailble until we find a Departure

            # Keep the arrival date:
            date_arr = date

            # Reset the count for this booking
            booking_days = 0

            # Move to the next day.
            # Breaks if they arrive on the last day of the 6th month!!!
            min_dateIndex += 1
            
            if(min_dateIndex < max_dateIndex): 
                date = dates[min_dateIndex]
                status = c[date]
            else:
                date = None
                status = None
            

            while(( status != 'DEP') & (min_dateIndex < max_dateIndex)):
                date = dates[min_dateIndex]
                status = c[date]

                # Departure date doesnt count as a booked date, but as an available date
                booking_days += 1

                days_count += 1

                min_dateIndex += 1
                
                # on the last day of the month it breaks the index...
                #date = dates[min_dateIndex]
                #status = c[date]



            # Add in the last day
            avl_count += 1
            days_count += 1

            # Get the departure day details??
            
            if(min_dateIndex >= max_dateIndex): 
                # Booking runs over the end of the month into the 7th month, which we dont track
                # Ignore this booking or just track to the end of the month?
                date_dep = None
            else:
                date_dep = date

            # Track the total bookings.
            booking_count += booking_days


            # Show the booking details
            #print("{0} -- Arrive: {1} Depart: {2} Total days: {3}".format(pid,date_arr,date_dep,booking_days))

            booking_detail = {
                'property_id': pid,
                'arr_dt': date_arr,
                'dep_dt': date_dep,
                'book_days': booking_days
            }

            if first_page is True:
                fp.write('[\n')
                first_page = False
            else:
                fp.write('\n,')

            json.dump(booking_detail, fp)



        #if( status == 'DEP'):
        #    dep_count += 1            

        if( status == 'UVL'):
            uvl_count += 1

        min_dateIndex += 1

# Close off the JSON
fp.write(']')

#print("Total days: " + str(days_count))
#print("Available days: " + str(avl_count))
#print("Departure days: " + str(dep_count))
#print("Arrival days: " + str(arr_count))
#print("Booked days: " + str(booking_count))
#print("Unavailable days: " + str(uvl_count))
#print("Total check: " + str(avl_count + booking_count + uvl_count))

# Tidy up file handles
fp.close()

In [9]:
b = pd.read_json('/Users/taj/GitHub/scraping/chrome_stayz_calendar/WebData/stayz_bookings_' + date_str + '.json'
                ,convert_dates=['arr_dt','dep_dt'])

b.set_index('property_id',inplace=True)

b.head()

                arr_dt  book_days     dep_dt
property_id
9064241     2018-03-02          2 2018-03-04
9064241     2018-03-06         10 2018-03-16
9064241     2018-03-23          6 2018-03-29
9064241     2018-04-14          7 2018-04-21
9064241     2018-04-23          7 2018-04-30