In [1]:
import sysconfig
import os
import numpy as np
import pandas as pd
import json
import distutils
import datetime
import scrapy
import requests
import json
import logging
import string
import re

In [50]:
#date_str = datetime.datetime.now().strftime("%Y-%m-%d")

date_str = '2018-06-01'
print("Date: " + date_str)

Date: 2018-06-01

In [51]:
# Read the data file and display
test_cal = pd.read_json('/Users/taj/GitHub/scraping/stayz/WebData/nsw_calendar/stayz_calendar_' + date_str + '.json.zip')

test_cal.head()

,calendar,ext_at,features,photos,property_id,review_count,review_value
0,"<thead><tr><th scope=""col""><span title=""Monday...",2018-06-01 09:19:08,Air conditioning\nBalcony\nBooks\nChild's high...,22,9191650,25,5.0
1,"<thead><tr><th scope=""col""><span title=""Monday...",2018-06-01 09:19:10,Air conditioning\nBooks\nChildren welcome\nClo...,18,9144002,31,5.0
2,"<thead><tr><th scope=""col""><span title=""Monday...",2018-06-01 09:19:13,Air conditioning\nBooks\nChild's high chair\nC...,24,9185860,40,4.8
3,"<thead><tr><th scope=""col""><span title=""Monday...",2018-06-01 09:19:15,Balcony\nBooks\nChild's high chair\nChildren w...,11,9060221,33,4.9
4,"<thead><tr><th scope=""col""><span title=""Monday...",2018-06-01 09:19:18,,14,9050878,73,4.7

In [7]:
# Read the data file and display
test_proc = pd.read_json('/Users/taj/GitHub/scraping/stayz/WebData/nsw_processed_calendar/stayz_calendar_' + date_str + '.json.zip')

test_proc.head()

,calendar,ext_at,property_id
0,"{'2018-05-01': 'AVL', '2018-05-02': 'AVL', '20...",2018-05-14 01:40:11,9082944
1,"{'2018-05-01': 'AVL', '2018-05-02': 'AVL', '20...",2018-05-14 01:40:15,9061323
2,"{'2018-05-01': 'AVL', '2018-05-02': 'AVL', '20...",2018-05-14 01:40:18,9203655
3,"{'2018-05-01': 'DEP', '2018-05-02': 'AVL', '20...",2018-05-14 01:40:21,9020763
4,"{'2018-05-01': 'AVL', '2018-05-02': 'AVL', '20...",2018-05-14 01:40:24,9026665

# JSON to CSV Conversion

In [2]:
!ls /Users/taj/GitHub/scraping/stayz/WebData/nsw_bookings/

#print('stayz_bookings_stayz_calendar_' + date_str + '.json')

all_bookings.json
csv
stayz_bookings_stayz_calendar_2018-02-22.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-02-22a.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-02-23.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-02-26.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-02-28.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-02.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-03.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-04.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-07.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-08.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-10.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-11.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-12.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-13.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-14.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-15.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-16.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-17.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-18.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-20.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-21.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-22.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-23.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-23a.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-24.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-25.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-26.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-27.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-28.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-29.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-30.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-03-31.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-01.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-02.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-03.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-04.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-04a.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-05.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-06.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-07.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-08.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-09.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-10.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-11.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-12.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-13.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-14.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-15.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-16.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-17.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-19.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-20.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-22.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-23.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-24.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-25.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-26.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-27.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-29.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-04-30.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-01.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-02.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-03.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-05.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-06.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-08.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-09.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-10.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-11.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-12.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-13.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-14.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-15.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-17.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-19.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-20.json
stayz_bookings_stayz_calendar_2018-05-20.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-21.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-22.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-23.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-25.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-26.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-27.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-28.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-29.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-30.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-05-31.json.zip_proc.json
stayz_bookings_stayz_calendar_2018-06-01.json.zip_proc.json

Find all lines in the file which DONT start with a comma:

grep "^[^,]" all_bookings.json


Open in vi then replace:
$s/\]\[//g

Strip the first character of every line:

sed 's/^.//' all_bookings.json > all_bookings_2.json

Insert back the comma:

sed 's/^/,/' all_bookings_2.json > all_bookings_3.json


sed 's/^,"/,{"/' all_bookings_3.json > all_bookings_4.json

In [37]:
# Read the data file and display

date_str = '2018-04-01'
book_date_str = date_str

print("Date: " + book_date_str)

#test_book = pd.read_json('/Users/taj/GitHub/scraping/stayz/WebData/nsw_bookings/stayz_bookings_' + book_date_str + '.json')

test_book = pd.read_json('/Users/taj/GitHub/scraping/stayz/WebData/nsw_bookings/all_bookings_4.json')


# Fill any NaN values with defaults
test_book = test_book.fillna(value={'dep_dt':'2999-12-31', 'book_days':0})

test_book.set_index('property_id',inplace=True)


# Load the data into postgres table after saving to CSV

csv_out = test_book.to_csv(columns=['ext_at','arr_dt','dep_dt','book_days'])

#fh = open('/Users/taj/GitHub/scraping/stayz/WebData/nsw_bookings/csv/stayz_bookings_' + book_date_str + '.csv', 'w')

fh = open('/Users/taj/GitHub/scraping/stayz/WebData/nsw_bookings/csv/all_bookings.csv', 'w')


fh.write(csv_out)

fh.close()



test_book.head()

Date: 2018-04-01

                 arr_dt  book_days      dep_dt              ext_at
property_id
4814271      2018-02-04          1  2018-02-05 2018-02-22 14:19:42
4814271      2018-02-12          6  2018-02-18 2018-02-22 14:19:42
4814271      2018-02-21         12  2018-03-05 2018-02-22 14:19:42
4814271      2018-03-09          2  2018-03-11 2018-02-22 14:19:42
9152089      2018-02-23          4  2018-02-27 2018-02-22 14:19:45

Once the CSV file of bookings is generated we can run the Postgres import from pgadmin4 with the script 'pg_bookings_import.sql'

Interesting houses:
1. Mudgee - breathtaking escape (9202601)
1. Tambac - 3 bookings April (806)
1. Angourio Studio - Mudgee new (9136503)