In [1]:
import pandas as pd

In [4]:
js = pd.read_json('/Users/taj/GitHub/scraping/chrome_stayz_calendar/WebData/stayz_calendar2018-02-11_08-43.json',convert_dates=True)

js.head()

,calendar,ext_ts,p_nbr,page_nbr,property_id,review_count,review_value
0,"<thead><tr><th scope=""col""><span title=""Monday...",2018-02-11 08:43:20,1,1,9119008,20,4.8
1,"<thead><tr><th scope=""col""><span title=""Monday...",2018-02-11 08:43:23,2,1,9190510,32,5.0
2,"<thead><tr><th scope=""col""><span title=""Monday...",2018-02-11 08:43:26,3,1,9015115,22,5.0
3,"<thead><tr><th scope=""col""><span title=""Monday...",2018-02-11 08:43:29,4,1,9185860,37,5.0
4,"<thead><tr><th scope=""col""><span title=""Monday...",2018-02-11 08:43:31,5,1,9028328,37,4.9

In [5]:
js.describe()

            p_nbr    page_nbr   property_id  review_count  review_value
count  550.000000  550.000000  5.500000e+02    550.000000    550.000000
mean   275.500000    6.000000  9.137727e+06     23.547273      4.411091
std    158.915596    3.165156  6.527075e+04     24.629283      1.479380
min      1.000000    1.000000  9.000566e+06     -1.000000     -1.000000
25%    138.250000    3.000000  9.084270e+06      8.000000      4.700000
50%    275.500000    6.000000  9.155008e+06     17.000000      4.900000
75%    412.750000    9.000000  9.190485e+06     30.000000      5.000000
max    550.000000   11.000000  9.228132e+06    192.000000      5.000000

In [7]:
js.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 550 entries, 0 to 549
Data columns (total 7 columns):
calendar        550 non-null object
ext_ts          550 non-null object
p_nbr           550 non-null int64
page_nbr        550 non-null int64
property_id     550 non-null int64
review_count    550 non-null int64
review_value    550 non-null float64
dtypes: float64(1), int64(4), object(2)
memory usage: 34.4+ KB