In [2]:
import sysconfig
import os
import numpy as np
import pandas as pd
import json
import distutils
import datetime
import scrapy
import requests
import json
import logging
import string
import re

In [31]:
date_str = datetime.datetime.now().strftime("%Y-%m-%d")

date_str = '2018-05-02'
print("Date: " + date_str)

Date: 2018-05-02

In [32]:
# Read the data file and display
test_cal = pd.read_json('/Users/taj/GitHub/scraping/stayz/WebData/nsw_calendar/stayz_calendar_' + date_str + '.json')

test_cal.head()

,calendar,ext_at,features,photos,property_id,review_count,review_value
0,"<thead><tr><th scope=""col""><span title=""Monday...",2018-05-02 01:40:10,Books\nChild's high chair\nChildren welcome\nC...,24,9082944,174,5.0
1,"<thead><tr><th scope=""col""><span title=""Monday...",2018-05-02 01:40:13,Air conditioning\nBooks\nCoffee maker\nDeck/Pa...,20,9111394,49,5.0
2,"<thead><tr><th scope=""col""><span title=""Monday...",2018-05-02 01:40:15,Books\nCoffee maker\nDeck/Patio\nDining\nDishe...,21,9169760,8,5.0
3,"<thead><tr><th scope=""col""><span title=""Monday...",2018-05-02 01:40:19,,14,9050878,72,-1.0
4,"<thead><tr><th scope=""col""><span title=""Monday...",2018-05-02 01:40:22,Child's high chair\nClothes dryer\nCoffee make...,17,9013800,14,5.0

In [ ]:
# Read the data file and display
test_proc = pd.read_json('/Users/taj/GitHub/scraping/stayz/WebData/nsw_processed_calendar/stayz_calendar_' + date_str + '.json.zip_proc.json')

test_proc.head()

In [67]:
!ls /Users/taj/GitHub/scraping/stayz/WebData/nsw_bookings/

print('stayz_bookings_stayz_calendar_' + date_str + '.json')

stayz_bookings_stayz_calendar_2018-02-22.json
stayz_bookings_stayz_calendar_2018-02-22a.json
stayz_bookings_stayz_calendar_2018-02-23.json
stayz_bookings_stayz_calendar_2018-02-26.json
stayz_bookings_stayz_calendar_2018-02-28.json
stayz_bookings_stayz_calendar_2018-03-02.json
stayz_bookings_stayz_calendar_2018-03-03.json
stayz_bookings_stayz_calendar_2018-03-04.json
stayz_bookings_stayz_calendar_2018-03-07.json
stayz_bookings_stayz_calendar_2018-03-08.json
stayz_bookings_stayz_calendar_2018-03-10.json
stayz_bookings_stayz_calendar_2018-03-11.json
stayz_bookings_stayz_calendar_2018-03-12.json
stayz_bookings_stayz_calendar_2018-03-13.json
stayz_bookings_stayz_calendar_2018-03-14.json
stayz_bookings_stayz_calendar_2018-03-15.json
stayz_bookings_stayz_calendar_2018-03-16.json
stayz_bookings_stayz_calendar_2018-03-17.json
stayz_bookings_stayz_calendar_2018-03-18.json
stayz_bookings_stayz_calendar_2018-03-20.json
stayz_bookings_stayz_calendar_2018-03-21.json
stayz_bookings_stayz_calendar_2018-03-22.json
stayz_bookings_stayz_calendar_2018-03-23.json
stayz_bookings_stayz_calendar_2018-03-23a.json
stayz_bookings_stayz_calendar_2018-03-24.json
stayz_bookings_stayz_calendar_2018-03-25.json
stayz_bookings_stayz_calendar_2018-03-26.json
stayz_bookings_stayz_calendar_2018-03-27.json
stayz_bookings_stayz_calendar_2018-03-28.json
stayz_bookings_stayz_calendar_2018-03-29.json
stayz_bookings_stayz_calendar_2018-03-30.json
stayz_bookings_stayz_calendar_2018-03-31.json
stayz_bookings_stayz_calendar_2018-04-01.json
stayz_bookings_stayz_calendar_2018-04-02.json
stayz_bookings_stayz_calendar_2018-04-03.json
stayz_bookings_stayz_calendar_2018-04-04.json
stayz_bookings_stayz_calendar_2018-04-04a.json
stayz_bookings_stayz_calendar_2018-04-05.json
stayz_bookings_stayz_calendar_2018-04-06.json
stayz_bookings_stayz_calendar_2018-04-07.json
stayz_bookings_stayz_calendar_2018-04-08.json
stayz_bookings_stayz_calendar_2018-04-09.json
stayz_bookings_stayz_calendar_2018-04-10.json
stayz_bookings_stayz_calendar_2018-04-11.json
stayz_bookings_stayz_calendar_2018-04-12.json
stayz_bookings_stayz_calendar_2018-04-13.json
stayz_bookings_stayz_calendar_2018-04-14.json
stayz_bookings_stayz_calendar_2018-04-15.json
stayz_bookings_stayz_calendar_2018-04-16.json
stayz_bookings_stayz_calendar_2018-04-17.json
test_book_2018-04-01.csv
test_book_2018-04-02.csv
test_book_2018-04-03.csv
test_book_2018-04-04.csv
test_book_2018-04-05.csv
test_book_2018-04-06.csv
test_book_2018-04-07.csv
test_book_2018-04-08.csv
test_book_2018-04-09.csv
test_book_2018-04-10.csv
test_book_2018-04-11.csv
test_book_2018-04-12.csv
test_book_2018-04-13.csv
test_book_2018-04-14.csv
test_book_2018-04-15.csv
test_book_2018-04-16.csv
test_book_2018-04-17.csv
stayz_bookings_stayz_calendar_2018-04-17.json

In [66]:
# Read the data file and display

book_date_str = '2018-04-01'
print("Date: " + book_date_str)

test_book = pd.read_json('/Users/taj/GitHub/scraping/stayz/WebData/nsw_bookings/stayz_bookings_stayz_calendar_' + book_date_str + '.json')

# Fill any NaN values with defaults
test_book = test_book.fillna(value={'dep_dt':'2999-12-31', 'book_days':0})

test_book.set_index('property_id',inplace=True)


# Load the data into postgres table after saving to CSV

csv_out = test_book.to_csv(columns=['ext_at','arr_dt','dep_dt','book_days'])

fh = open('/Users/taj/GitHub/scraping/stayz/WebData/nsw_bookings/test_book_' + book_date_str + '.csv', 'w')

fh.write(csv_out)

fh.close()



test_book.head()

Date: 2018-04-01

                 arr_dt  book_days      dep_dt              ext_at
property_id
9082944      2018-04-27          3  2018-04-29 2018-04-01 01:30:06
9082944      2018-05-04          4  2018-05-07 2018-04-01 01:30:06
9082944      2018-05-12         17  2018-05-28 2018-04-01 01:30:06
9082944      2018-06-01          4  2018-06-04 2018-04-01 01:30:06
9082944      2018-06-08          4  2018-06-11 2018-04-01 01:30:06

Once the CSV file of bookings is generated we can run the Postgres import from pgadmin4 with the script 'pg_bookings_import.sql'

Interesting houses:
1. Mudgee - breathtaking escape (9202601)
1. Tambac - 3 bookings April (806)
1. Angourio Studio - Mudgee new (9136503)