In [2]:
import sysconfig
import os
import numpy as np
import pandas as pd
import json
import distutils
import datetime
import scrapy
import requests
import json
import logging
import string
import re

In [3]:
date_str = datetime.datetime.now().strftime("%Y-%m-%d")

#date_str = '2018-05-02'
print("Date: " + date_str)

Date: 2018-05-14

In [5]:
# Read the data file and display
test_cal = pd.read_json('/Users/taj/GitHub/scraping/stayz/WebData/nsw_calendar/stayz_calendar_' + date_str + '.json.zip')

test_cal.head()

,calendar,ext_at,features,photos,property_id,review_count,review_value
0,"<thead><tr><th scope=""col""><span title=""Monday...",2018-05-14 01:40:11,Books\nChild's high chair\nChildren welcome\nC...,24,9082944,176,-1.0
1,"<thead><tr><th scope=""col""><span title=""Monday...",2018-05-14 01:40:15,Air conditioning\nBalcony\nChild's high chair\...,24,9061323,23,5.0
2,"<thead><tr><th scope=""col""><span title=""Monday...",2018-05-14 01:40:18,Books\nChild's high chair\nChildren welcome\nC...,24,9203655,20,4.9
3,"<thead><tr><th scope=""col""><span title=""Monday...",2018-05-14 01:40:21,Balcony\nBooks\nClothes dryer\nDeck/Patio\nDin...,13,9020763,25,-1.0
4,"<thead><tr><th scope=""col""><span title=""Monday...",2018-05-14 01:40:24,Air conditioning\nBalcony\nChild's high chair\...,16,9026665,15,4.9

In [7]:
# Read the data file and display
test_proc = pd.read_json('/Users/taj/GitHub/scraping/stayz/WebData/nsw_processed_calendar/stayz_calendar_' + date_str + '.json.zip')

test_proc.head()

,calendar,ext_at,property_id
0,"{'2018-05-01': 'AVL', '2018-05-02': 'AVL', '20...",2018-05-14 01:40:11,9082944
1,"{'2018-05-01': 'AVL', '2018-05-02': 'AVL', '20...",2018-05-14 01:40:15,9061323
2,"{'2018-05-01': 'AVL', '2018-05-02': 'AVL', '20...",2018-05-14 01:40:18,9203655
3,"{'2018-05-01': 'DEP', '2018-05-02': 'AVL', '20...",2018-05-14 01:40:21,9020763
4,"{'2018-05-01': 'AVL', '2018-05-02': 'AVL', '20...",2018-05-14 01:40:24,9026665

In [9]:
!ls /Users/taj/GitHub/scraping/stayz/WebData/nsw_bookings/

#print('stayz_bookings_stayz_calendar_' + date_str + '.json')

stayz_bookings_2018-05-14.json

In [12]:
# Read the data file and display

#book_date_str = '2018-04-01'
book_date_str = date_str

print("Date: " + book_date_str)

test_book = pd.read_json('/Users/taj/GitHub/scraping/stayz/WebData/nsw_bookings/stayz_bookings_' + book_date_str + '.json')

# Fill any NaN values with defaults
test_book = test_book.fillna(value={'dep_dt':'2999-12-31', 'book_days':0})

test_book.set_index('property_id',inplace=True)


# Load the data into postgres table after saving to CSV

csv_out = test_book.to_csv(columns=['ext_at','arr_dt','dep_dt','book_days'])

fh = open('/Users/taj/GitHub/scraping/stayz/WebData/nsw_bookings/csv/stayz_bookings_' + book_date_str + '.csv', 'w')

fh.write(csv_out)

fh.close()



test_book.head()

Date: 2018-05-14

                 arr_dt  book_days      dep_dt              ext_at
property_id
9082944      2018-05-04         24  2018-05-28 2018-05-14 01:40:11
9082944      2018-06-01          3  2018-06-04 2018-05-14 01:40:11
9082944      2018-06-08         13  2018-06-21 2018-05-14 01:40:11
9082944      2018-06-25         12  2018-07-07 2018-05-14 01:40:11
9082944      2018-07-09         22  2018-07-31 2018-05-14 01:40:11

Once the CSV file of bookings is generated we can run the Postgres import from pgadmin4 with the script 'pg_bookings_import.sql'

Interesting houses:
1. Mudgee - breathtaking escape (9202601)
1. Tambac - 3 bookings April (806)
1. Angourio Studio - Mudgee new (9136503)