In [1]:
import sysconfig
import os
import numpy as np
import pandas as pd
import json
import distutils
import datetime
import scrapy
import requests
import json
import logging
import string
import re
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import model_selection
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

%matplotlib inline

In [8]:
date_str = datetime.datetime.now().strftime("%Y-%m-%d")

date_str = '2018-04-04a'
print("Date: " + date_str)

Date: 2018-04-04a

In [9]:
# Read the data file and display
test_file = pd.read_json('/Users/taj/GitHub/scraping/stayz/WebData/nsw_calendar/stayz_calendar_' + date_str + '.json.zip')

test_file.head()

,calendar,ext_at,property_id,review_count,review_value
0,"<thead><tr><th scope=""col""><span title=""Monday...",2018-04-04 01:30:08,9167523,20,5.0
1,"<thead><tr><th scope=""col""><span title=""Monday...",2018-04-04 01:30:10,9026665,15,4.9
2,"<thead><tr><th scope=""col""><span title=""Monday...",2018-04-04 01:30:12,9026337,45,4.8
3,"<thead><tr><th scope=""col""><span title=""Monday...",2018-04-04 01:30:15,9166132,9,5.0
4,"<thead><tr><th scope=""col""><span title=""Monday...",2018-04-04 01:30:18,9030183,93,-1.0